<h1>Listing clients</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>    
  </tr>

<% @clients.each do |client| %>
  <tr>
    <td>id</td>
    <td><%= client.id %></td>
    <td><%= client.application_name %></td>
    <td><%= link_to 'Show', client %></td>
    <td><%= link_to 'Edit', edit_client_path(client) %></td>
    <td><%= link_to 'Destroy', client, :confirm => 'Are you sure?',
    :method => :delete %></td>
    <td><%= link_to 'Request Code',
    "/authorize?response_type=code&redirect_uri=http://localhost/clients&client_id=#{client.client_id}"%></td>
    <td><%=link_to "Send Code(#{params[:code]}) to request access_token" ,
    "/authorize?grant_type=authorization_code&redirect_uri=http://localhost/clients&code=#{params[:code]}&client_id=#{client.client_id}&client_secret=#{client.client_secret}"%></td>
    <td>access_token = <%=params[:access_token]%></td>
  </tr>
<% end %>
</table>

<br/>

<%= link_to 'create a new application', new_client_path %>
