<form action="/posts/new.json" method="post" enctype="multipart/form-data">
  <%= label_tag "Post" %>
  <%= text_field_tag "post" %>
  <!-- Test code for post -->
  <br/>
  <%= label_tag "Tag (using ',' delimeter)" %>
  <%= text_field_tag "tags" %>
  <br/>
  <%= label_tag "AccessToken" %> 
  <%= text_field_tag "access_token" ,"" %>
  <input type="hidden" name="from_where" value="WEB" />
  
  <input type="file" name="upload_file" />
  
  <br/>
 
  <%= submit_tag "Send" %>
</form>


<table>
  <tr>
    <th></th>
  </tr>

<% @posts.each do |post| %>
  <tr>
    <td>
      <p>contents : <%= post.post %> |</p>
    </td>
    <td>
      <p>activity id : <%= post.activity_id %></p>
    </td>
  </tr>
<%  end %>
</table>
