<%= form_tag(:controller => "posts", :action => "new", :method =>
  "post", :format => "json") do %>
  <%= label_tag "Post" %>
  <%= text_field_tag "post" %>
  <!-- Test code for post -->
  <br/>
  <%= label_tag "Tag (using ',' delimeter)" %>
  <%= text_field_tag "tags" %>
  <br/>
  <%= label_tag "AccessToken" %> 
  <%= text_field_tag "access_token" ,"" %>
  <br/>
 
  <%= submit_tag "Send" %>

<table>
  <tr>
    <th></th>
  </tr>

<% @posts.each do |post| %>
  <tr>
    <td>
      <p>contents : <%= post.post %> |</p>
    </td>
    <td>
      <p>activity id : <%= post.activity_id %></p>
    </td>
  </tr>
<%  end %>
</table>
<% end %>
